<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>central</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>
        <!-- Server configuration for GPG passphrase -->
        <server>
            <id>${env.GPG_KEYNAME}</id>
            <passphrase>${env.MAVEN_GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>gpg</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
            </properties>
        </profile>
    </profiles>

</settings>